* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 120px;
  border: 2px solid gray;
  margin: 2px;
  background-color: beige;
}

.box {
  width: 90%;
  border: 2px solid ;
  margin-right: auto;
  margin-left: auto;
  background-color: lightgreen;
  overflow: hidden;
}

.aside {
  height: 150px;
  border: 2px solid blue;
  background-color: bisque;
  /* margin: 2px; */
  /* width: 150px; */
  width: 50%;
  float: left;
}

.main {
  height: 200px;
  border: 2px solid green;
  background-color: lightpink;
  /* margin: 2px; */
  /* width: 200px; */
  width: 50%;
  float: right;
}

.footer {
  height: 150px;
  border: 2px solid red;
  background-color: lightgray;
  clear: both;
  margin: 2px;
}