:root {
--my-navy: #002E94;
--my-wedding: #FFE7CC;
--my-beige: #E1CEB5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  /* flex: 25%; */
}

main {
  /* flex: 75%; */
  padding-left: 10px;
  height: 100vh;
  overflow: auto;
}


/* Displays */
/* .d-flex {
  display: flex;
} */

.d-grid {
  display: grid;
  grid-template-columns: 25% 75%;
}

.d-block {
  display: block;
}

.flex-row {
  /* flex-direction: row; */
}

/* Colours */
.bg-navy {
  /* background-color: navy; */
  background-color: var(--my-navy);
}

.text-wedding {
  color: var(--my-wedding);
}

.link-hover-blue:hover {
  background-color: cornflowerblue;
}

.bg-beige {
  background-color: var(--my-beige);
}

/* Margins & Paddings */
.p-1 {
  padding: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.ms-1 {
  margin-left: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-200 {
  margin-bottom: 200px;
}

/* Fonts & Texts */
.text-none {
  text-decoration: none;
}

.list-none {
  list-style: none;
}

.text-center {
  text-align: center;
}

/* Images */
.banner-image {
  width: 300px;
  height: auto;
  border-radius: 10%;;
}

/* Bars and X styling */

.side-menu {
  display: none;
}

.hamb {
  display: none;
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.hamb-x {
  display: none;
  position: absolute;
  top: 1rem;
  right: 2rem;
}

/* .side-menu:checked ~ label > .hamb {
  display: none;
}

.side-menu:checked ~ label > .hamb-x {
  display: block;
} */

@media (max-width:992px) {
  /* .flex-row {
    flex-direction: column;
  } */

  .d-grid {
    grid-template-columns: 100%;
  }

  header {
    position: fixed;
    width: 100%;
  }

  main {
    margin-top: 100px;
    overflow:visible;
  }

  .hamb {
    display: block;
  }

  .hamb-x {
    display: none;
  }

  nav {
    display: none;
  }

  .side-menu:checked ~ nav {
    display: block;
  }

  .side-menu:checked ~ label > .hamb {
    display: none;
  }
  
  .side-menu:checked ~ label > .hamb-x {
    display: block;
  }
}