/* Large */
@media (min-width: 992px) and (max-width: 1200px) {
  body {
    background-color: gray;
  }
}

/* Extra - Large */
@media (min-width: 1201px) and (max-width: 1400px) {
  body {
    background-color: pink;
  }
}

/* X X - Large */
@media (min-width: 1401px) {
  body {
    background-color: lightgreen;
  }
}

/* X - Small */
@media (max-width: 991px) {
  body {
    background-color: burlywood;
  }
}